/* клієнти */
.section-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 6);
  fill: var(--icons-color);
  cursor: pointer;
}

.sec-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icons-color);
  color: var(--icons-color);

  transition: border-color var(--anim-main), color var(--anim-main);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
    border-color: var(--main-accent-color);
  }
}

.clients-icons {
  fill: currentColor;
}
