.footer {
  background-color: var(--background-secondary-cl);
  padding-top: 60px;
  padding-bottom: 60px;

  &-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
  }

  &-logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--light-txt-color);
  }

  &-item {
    margin-bottom: 9px;
  }

  &-item:last-child {
    margin-bottom: 0;
  }

  &-link-map {
    color: var(--light-txt-color);
    text-decoration: none;
    transition: color var(--anim-main);
  }

  &-link {
    color: var(--light&-links-cl);
    transition: color var(--anim-main);

    &:hover,
    &:focus {
      color: var(--main-accent-color);
    }
  }

  &-common {
    text-align: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      text-align: left;
    }
  }

  &-addr {
    display: flex;
    flex-direction: column;

  }

  &-wecome-socials {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  &-welcome {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);

    text-transform: uppercase;
    color: var(--light-txt-color);
    margin-bottom: 20px;
  }

  &-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--anim-main);

    &:hover,
    &:focus {
      color: var(--light-txt-color);
      background-color: var(--main-accent-color);
    }
  }

  &-socials-icon {
    fill: var(--light-txt-color);
  }


  &-subscribe-form-form {
    margin-top: 60px;
  }

  &-subscribe-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-color);

    margin-bottom: 20px;
  }

  &-subscribe-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }

  }

  &-subscribe-form-label {
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0px;
    }

  }

  &-subscribe-form-input {
    width: 358px;
    height: 50px;
    padding-left: 18px;
    font-size: 16px;
    color: var(--light-txt-color);
    line-height: calc(20 / 16);
    outline: transparent;
    /* background-color: var(--background-secondary-cl); */
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color var(--anim-main);

    &:focus {
      border-color: var(--main-accent-color);
    }
  }

  &-subscribe-form-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;
  }

  &-subscribe-form-btn-icon {
    fill: currentColor;
  }
}