.header {
  &-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  &-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }

  &-cont-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding-left: 81px;

      gap: 10px;

    }

    @media screen and (min-width: 1200px) {
      // display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-cont-icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &-nav-link {
    position: relative;

    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-headers-color);


    padding-top: 32px;
    padding-bottom: 32px;


    transition: color var(--anim-main);

    &:hover,
    &:focus {
      color: var(--main-accent-color);
    }

    &::after {
      content: '';

      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--main-accent-color);

      position: absolute;
      left: 0;
      bottom: 0;

      opacity: 0;
      transform: scaleX(0);
      transition: background-color var(--anim-main), transform var(--anim-main),
        opacity var(--anim-main);
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &-cont-link {
    display: flex;


    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-color);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }

    @media screen and (min-width: 1200px) {
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    transition: color var(--anim-main);

    &:hover,
    &:focus {
      color: var(--main-accent-color);
    }
  }
}

/* поточна сторінка */
.current-page {
  position: relative;
  color: var(--main-accent-color);

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-accent-color);

    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transform: scaleX(1);
    transition: transform var(--anim-main);
  }
}