.sec-prj-list-rbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 8px;
}

.rbtn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);

  background-color: var(--background-elements);
  color: var(--main-headers-color);

  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  cursor: pointer;

  transition: background-color var(--anim-main), color var(--anim-main), box-shadow var(--anim-main);

  &:hover,
  &:focus {
    background-color: var(--main-accent-color);
    color: var(--light-txt-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* поточна кнопка */
.current-rbtn {
  background-color: var(--main-accent-color);
  color: var(--light-txt-color);
}
